/* CSS declarations go here */
body { text-align: left;
background: #b3e5e5;
padding: 70px;}

ul{
	list-style-type: none;
	position: center;
    font-size: 2em;
}

p {
	font-size: 20em;
}


h3 {
	font-style: italic;
}


.ui.image.right {
	float:right;
	width: 170px;
	height: auto;
	font-size: 0.85714286rem;
}

.ui.image.right2 {
	float:right;
	width: 100px;
	height: auto;
	font-size: 0.85714286rem;
}

.ui.image.left {
	float:left;
	width: 130px;
	height: auto;
	padding-right: 0.3em
}

.ui.message {
	height: 7em;
	font-size: 1.2em;
	vertical-align: middle;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

.ui.message.first {
	height: 10em;
	font-size: 1.2em;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui.message.second {
	height: 7em;
	font-size: 1.2em;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}