/* CSS declarations go here */
body { text-align: left;
background: #b3e5e5;
padding: 70px;}

div{
	list-style-type: none;
	position: center;
    font-size: 1em;
}

p {
	font-size: 1.2em;
	text-align: justify;

}


h3 {
	font-style: italic;
}




.ui.image.right2 {
	float:right;
	width: 100px;
	height: auto;
	font-size: 0.85714286rem;
}

.ui.image.left {
	float:left;
	width: 180px;
	height: auto;
	padding-right: 0.3em
}

.ui.message {
	height: 7em;
	font-size: 1.2em;
	vertical-align: middle;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

.ui.message.first {
	height: 10em;
	font-size: 1.2em;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui.message.second {
	height: 7em;
	font-size: 1.2em;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
/* 
.four.wide.column {
	background-color: #e0e6ee;
}

.twelve.wide.column {
	background-color: #e0e6ee;
}
*/
.ui.grid > .row {
  position: relative;
  display: block;
  width: auto !important;
  padding: 0rem;
  font-size: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

