<template name="formQuin">
	<form class="ui stackable two column form">
	<h4 class="ui dividing header">Persoonlijke informatie</h4>
		<div class="">
			<div class="field">
				<div class="two fields">
					<div class="field">
						<input type="text" name="Voornaam" placeholder="Voornaam">
					</div>
					<div class="field">
						<input type="text" name="Achternaam" placeholder="Achternaam">
					</div>
				</div>
			</div>
		</div>

		<div class="">
			<div class="field">
				<div class="two fields">
					<div class="field">
						<input type="text" name="Bedrijf" placeholder="Bedrijf">
					</div>
					<div class="field">
						<input type="email" id="email" name="email" placeholder="E-mailadres *">
					</div>
				</div>
			</div>
		</div>
	<input class="ui submit button" type="submit" value="Stuur op">
  </form>
</template>