<template name="quin">
    <nav class="ui menu inverted navbar page grid" style="margin-bottom:0px;">
        <a href="" class="brand item">Quinsight</a>
        <!-- <a href="" class="item">Cases</a>
        <a href="" class="item">Tarieven</a> -->
        <a href="#voordelen" class=" item">Voordelen</a>
        <a href="#contact" class="item">Contact</a>
    </nav>
    <div class="ui grid">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui center aligned huge message page grid">
                    <div class="ui stackable two column row">
                        <div class="column">
                            <h1 class="ui left aligned header" style="margin-bottom:32px">QUINSIGHT</h1> 
                            <h2 class="ui left aligned header" style="margin-bottom:24px">Real-time inzicht in jouw doelgroep</h2>
                             <p class="ui left aligned header" style="font-weight:normal"> Quinsight is een innovatieve tool die structureel inzicht geeft in de opvattingen, ideeën, gevoelens of motieven van jouw doelgroep. <br> <br> Via een gebruiksvriendelijke tool vraag je klanten, medewerkers of andere relaties op elk gewenst moment om feedback. Zij geven antwoord met één druk op de knop via telefoon, tablet of laptop. <br> <br> Aan de achterkant maken heldere grafieken en infographics de informatie direct inzichtelijk en worden trends en patronen duidelijk. Quinsight stelt je in staat feedback van jouw doelgroep te doorgronden en je eigen acties daarop in te richten. </p>
                        </div>
                        <div class="column">
                            <img src="introduction_image.png" style="width:300px"/>
                            <!-- <p><a class="ui centered red button">bekijk demo &raquo;</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui stackable page center aligned grid" id="voordelen">
        <h2 class="ui header">Welke voordelen heeft Quinsight voor jou?</h2>
        <div class="ui stackable three column row">
            <div class="column">
                <img src="icons/1.png" class="ui small centered image">
                <h3 class="ui centered header" style="margin-top:8px">Simpel data verzamelen</h3>
                <p class="centered">Formuleer zelf vragen en leg die via de app voor aan jouw doelgroep(-en).</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/2.png" class="ui small centered image">
                <h3 class="ui centered header" style="margin-top:8px">Kwalitatieve data</h3>
                <p>Deelnemers beantwoorden vragen niet alleen in tekst, maar desgewenst ook door middel van locatie, foto, video of geluidsfragment.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/3.png" class="ui small centered image">
                <h3 class="ui centered header" style="margin-top:8px">Realtime analyse</h3>
                <p>Data worden direct overzichtelijk en samenhangend gepresenteerd met aantrekkelijke visualisaties.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <img src="icons/4.png" class="ui small centered image">
                <h3 class="ui centered header" style="margin-top:8px">Benadering op maat</h3>
                <p>De app is helemaal van jou. Het platform wordt gecustomized in je eigen look & feel.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/5.png" class="ui small centered image">
                <h3 class="ui centered header" style="margin-top:8px">Responsive design</h3>
                <p>De app biedt de vragen aan op elke gewenste device: smartphone, tablet of computer.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/6.png" class="ui small centered image">
                <h3 class="ui centered header" style="margin-top:8px">De gebruiker centraal</h3>
                <p>Deelnemers geven antwoord wanneer zij dat willen. De app is simpel en intuïtief in gebruik.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui stackable page grid" id="contact">
        <div class="row">
            <div class="column">
                <h2>Contact</h2>
                <p>orikami en HVR Group bouwen communicatieve tools op basis van data science. Wil je gebruik maken van Quinsight of meer informatie over feedback verzamelen? <br> Neem dan vrijblijvend contact op.</p>
            </div>
        </div>
        <div class="row">
            {{> formQuin}}
        </div>
  </div>
        <div class="row">
            <div class="column">
                <div class="ui divider"></div>  
                    <img src="HVRlogo.png" class="ui tiny left floated image">
                    <img src="orikami_breed_logo.png" class="ui small left floated image">                
            
        </div>
    </div>

</template>
