<template name="quin">
    <nav class="ui menu inverted navbar page grid" style="margin-bottom:0px;">
        <a href="" class="brand item">Quin</a>
        <a href="" class="item">Cases</a>
        <a href="" class="item">Tarieven</a>
        <a href="" class="item">Contact</a>
    </nav>
    <div class="ui grid">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui center aligned huge message page grid">
                    <h1 class="ui huge header">Real-time inzicht in jouw doelgroep</h1>
                    <p class="centered">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                    <img src="vintage_orange_flowers.jpg" style="width:400px"/>
                    <p><a class="ui centered red button">bekijk demo &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui stackable grid">
        <div class="ui stackable three column row">
            <div class="column">
                <img src="icons/1.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Simpel data verzamelen</h2>
                <p>Formuleer zelf vragen en leg die via de app voor aan jouw  doelgroep(-en).</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/2.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Kwalitatieve data</h2>
                <p>Deelnemers beantwoorden vragen niet alleen in tekst, maar desgewenst ook door middel van locatie, foto, video of geluidsfragment.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/3.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Realtime analyse</h2>
                <p>Data worden direct overzichtelijk en samenhangend gepresenteerd met aantrekkelijke visualisaties.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <img src="icons/4.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Benadering op maat</h2>
                <p>De app is helemaal van jou. Het platform wordt gecustomized in je eigen look & feel.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/5.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Responsive design</h2>
                <p>De app biedt de vragen aan op elke gewenste device. Smart phone, tablet of computer.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/6.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">De gebruiker centraal</h2>
                <p>Deelnemers geven antwoord wanneer zij dat willen. De app is simpel en intuïtief in gebruik.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui divider"></div>  
                <span>&copy; orikami 2015</span>
            </div>
        </div>
    </div>
</template>
