<template name="quin">
    <nav class="ui menu inverted navbar page grid" style="margin-bottom: 0px; padding:20px">
        <a href="" class="brand item">Project Name</a>
        <div class="right menu">
            <div class="item">
                <p>Contact</p>
            </div>
            
        </div>
    </nav>
    <div class="ui grid">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui center aligned huge message page grid">
                    <h1 class="ui huge header">Real-time inzicht in jouw doelgroep</h1>
                    <p class="centered">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                    <img src="vintage_orange_flowers.jpg" style="width:400px"/>
                    <p><a class="ui centered red button">bekijk demo &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui page grid">
        <div class="three column row">
            <div class="column">
                <img src="icons/1.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Simpel data verzamelen</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/2.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Kwalitatieve data</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/3.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Realtime analyse</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <img src="icons/4.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Benadering op maat</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/5.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">Responsive design</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
            <div class="column">
                <img src="icons/6.png" class="ui small centered image">
                <h2 class="ui centered header" style="margin-top:8px">De gebruiker centraal</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui divider"></div>  
                <span>&copy; Company 2014</span>
            </div>
        </div>
    </div>
</template>
